name: Main workflow

concurrency:
  group: ${{ github.ref }}-ci
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches: [ master ]
  release:
    types: [ published ]

env:
  DOTNET_NOLOGO: true
  NUGET_KEY: ${{ secrets.NUGET_API_KEY }}

jobs:
  build:
    name: Build and test
    if: github.event_name != 'release'    
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
            8.x
            9.x
            10.x

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test
      run: dotnet test --configuration Release --no-restore --no-build --verbosity normal
      
  publish:
    name: Publish NuGet
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        
      - name: Create Release NuGet package
        run: |
          arrTag=(${GITHUB_REF//\// })
          VERSION="${arrTag[2]}"
          echo Version: $VERSION
          VERSION="${VERSION//v}"
          echo Clean Version: $VERSION
          dotnet pack -v normal -c Release --include-symbols --include-source -p:PackageVersion=$VERSION -p:Version=$VERSION       
      
      - name: Push to GitHub and Nuget feeds
        run: |
          dotnet nuget push "src/**/bin/Release/*.nupkg" --source https://api.nuget.org/v3/index.json --api-key $NUGET_KEY --skip-duplicate
          dotnet nuget push "src/**/bin/Release/*.nupkg" --source https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json --api-key ${{ github.token }} --skip-duplicate
